header{
  padding: 30px 110px 0 ;
  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
}
.header_wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 116px;
  height: 44px;
  background-image: url(images/logo_b.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.status_wrap{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}
.auth{
  display: flex;
  justify-content: space-between;
}
.auth>li:not(li:nth-child(3)){
  padding: 4px 14px;
  font-size: 12px;
}
.search_btn{
  width: 22px;
  padding: 8px;
  margin-right:14px; 
}

.menu{
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  letter-spacing : -0.875px;
  font-size: 25px;
  font-weight: 800;
  margin-top: 28px;
}

.menu::after{
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(images/arr_go.png);
  background-position: center;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
  top: -1px;
  
}